<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    {% block style %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav id="nav-bar">
            <ul>
                <li><a href="{% url 'home' %}">Início</a></li>
                <li><a href="{% url 'projects' %}">Projetos</a></li>
                <li><a href="{% url 'contact' %}">Contato</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="social-icons">
            <a href="https://github.com/lucasfgarcez" class="social-icon" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/lucasfgarcez/" class="social-icon" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <p>&copy 2026</p>
    </footer>
</body>
</html>