@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

header {
    background-color:#f7f7f7;
}

#nav-bar {
    display: flex;
    justify-content: center;
}

#nav-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0;
}

#nav-bar a {
    text-decoration: none;
}

#nav-bar a:visited {
    color: black;
}

#nav-bar a:hover {
    color: #0077b5;
}

footer {
    justify-items: center;
    margin-top: 40px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 0px;
}

.social-icon {
    font-size: 30px;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #0077b5;
}