#contact-container h1 {
    text-align: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#contact-form input {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    width: 400px;
}

#contact-form textarea {
    resize: none;
    font-family: "Poppins", sans-serif;
    padding: 6px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

#contact-form button {
    align-self: center;
    margin-top: 10px;
    width: 150px;
    font-family: "Poppins", sans-serif;
    padding: 6px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact-form button:hover {
    background-color: #d4d4d4;
}

@media screen and (max-width: 480px) {
    #contact-container h1 {
        padding: 0 20px 0 20px;
    }


    #contact-form {
        justify-self: center;
    }

    #contact-form input {
        width: 80vw;
    }
}