#projects-container {
    width: min(1100px, 100%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    padding: 20px;
}

.project-card {
    margin: 20px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.project-card h2 {
    margin: 0;
}

.project-card a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 480px) {
    #projects-container {
        display: flex;
        flex-direction: column;
    }
}